<div class="about">
    <div class="container">
        <div class="row vcenter">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="About faculty image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <div class="col-xs-12 col-md-12 col-md-6 col-lg-6 padding">
                <h2>@{model[0]['title']}</h2>
                <p>@{model[0]['text']}</p>
            </div>
        </div>
    </div>
</div>
