<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h3>Inštitút manažmentu</h3>

          <ul>
            <li><a href="#">Aktuality</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h3>Kontaktné informácie</h3>

          <ul>
            <li><a href="#">Inštitút manažmentu</a></li>
            <li><a href="#">Univerzita sv. Cyrila a Metoda v Trnave</a></li>
            <li>Hajdóczyho 1</li>
            <li>Tel.: (+421) 33 5565631</li>
            <li>
              Email:
              <a href="mailto:renata.kristofikova@ucm.sk"
                >renata.kristofikova@ucm.sk</a
              >
            </li>
            <li>Bankové spojenie: Štátna pokladnica</li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h3>Mapa a fotogaléria</h3>

          <ul>
            <li><a href="#">Mapa k univerzite</a></li>
            <li><a href="#">Fotogaléria</a></li>
          </ul>
        </div>

        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-md-block visible-lg-block"></div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h3>Dokumenty</h3>

          <ul>
            <li><a href="#">Systém kvality</a></li>
            <li><a href="#">Etický kódex</a></li>
            <li><a href="#">Organizačný poriadok</a></li>
            <li><a href="#">Štatút IM</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h3>Ostatné služby</h3>

          <ul>
            <li><a href="#">Knižnica</a></li>
            <li><a href="#">AIS2</a></li>
            <li><a href="#">CIT</a></li>
            <li><a href="#">E-shop</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h3>Partneri</h3>

          <ul class="social">
            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>

            <li>
              <a href="#"><i class="fab fa-bootstrap"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left">
        Copyright © 2022. All right reserved. Created by Peter Murín & Design
        by: Peter Murín, Silvia Hullová
      </p>

      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <li><i class="fab fa-bootstrap"></i></li>
          <li><i class="fab fa-bootstrap"></i></li>
          <li><i class="fab fa-bootstrap"></i></li>
          <li><i class="fab fa-bootstrap"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
