<header>
  <div class="header" id="header">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-0 col-sm-0 col-md-0 col-lg-4 vcenter">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
                <!-- TODO: Update src to correct url/file -->
                <img
                  src="https://scontent.fbts7-1.fna.fbcdn.net/v/t39.30808-1/257223997_453995789476303_5051098300319986980_n.png?stp=dst-png_p148x148&_nc_cat=104&ccb=1-5&_nc_sid=1eb0c7&_nc_ohc=BdxPz-zwyaAAX9nMNo7&_nc_ht=scontent.fbts7-1.fna&oh=00_AT8v-KGfVahEcW-SZM8vX7GZRY5MnxineNr-eijuJ2pROA&oe=626D934A"
                  class="img-responsive img-circle center-block p-10"
                  alt="Faculty logo image"
                />
              </div>

              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 vcenter">
                <h1>Inštitút manažmentu</h1>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 vcenter">
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- <a class="navbar-brand" href="#">Inštitút manažmentu</a> -->
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/">Domov</a>
                </li>

                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >O nás <span class="caret"></span
                  ></a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Komisie</a></li>
                    <li><a href="#">Riaditeľka</a></li>
                    <li><a href="#">Predstavenie</a></li>
                    <li><a href="#">Čo ponúkame</a></li>
                    <li><a href="#">Kolégium riaditeľky</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Katedry <span class="caret"></span
                  ></a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Katedra manažmentu kvality</a></li>
                    <li>
                      <a href="#"
                        >Katedra manažmentu v turizme a hotelierstve</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Štúdium <span class="caret"></span
                  ></a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Manažment kvality</a></li>
                    <li><a href="#">Manažment v turizme a hotelierstve</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Veda a výskum <span class="caret"></span
                  ></a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Mobility</a></li>
                    <li><a href="#">Publikácie</a></li>
                    <li><a href="#">Spolupráca</a></li>
                    <li><a href="#">Študentská veda</a></li>
                    <li><a href="#">Vedecké podujatia</a></li>
                    <li><a href="#">Metamorfózy kvality</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Uchádzači <span class="caret"></span
                  ></a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Poplatky</a></li>
                    <li><a href="#">Študentský servis</a></li>
                    <li><a href="#">Zahraničné mobility</a></li>
                    <li><a href="#">Fond na podporu vzdelávania</a></li>
                    <li>
                      <a href="#">Podmienky prijatia a ako sa prihlásiť</a>
                    </li>
                    <li>
                      <a href="#">Podpora zdravotne znevýhodnených študentov</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Študenti <span class="caret"></span
                  ></a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Black box</a></li>
                    <li><a href="#">Študentská veda</a></li>
                    <li><a href="#">Študentský servis</a></li>
                    <li><a href="#">Študijná referentka</a></li>
                    <li><a href="#">Zahraničné mobility</a></li>
                    <li><a href="#">Príručky a formuláre</a></li>
                    <li><a href="#">Harmonogram štúdia</a></li>
                    <li><a href="#">Disciplinárny poriadok</a></li>
                    <li><a href="#">Príručka pre prvoročiakov</a></li>
                    <li><a href="#">Zdokumentované informácie</a></li>
                    <li><a href="#">Fond na podporu vzdelávania</a></li>
                    <li><a href="#">Dotazník spokojnosti študentov</a></li>
                    <li>
                      <a href="#">Podpora zdravotne znevýhodnených študentov</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Zamestnanci <span class="caret"></span
                  ></a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Infobase</a></li>
                    <li><a href="#">Kalendár udalostí</a></li>
                    <li><a href="#">Zahraničné mobility</a></li>
                    <li><a href="#">Smernice a nariadenia</a></li>
                    <li><a href="#">Etický kódex zamestnanca</a></li>
                    <li><a href="#">Dotazník spokojnosti zamestnancov</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Verejnosť <span class="caret"></span
                  ></a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Médiá</a></li>
                    <li><a href="#">Spolupráca</a></li>
                    <li><a href="#">Sponzoring</a></li>
                    <li><a href="#">Úradná tabuľa</a></li>
                    <li><a href="#">Kalendár udalostí</a></li>
                    <li><a href="#">Celoživotné vzdelávanie</a></li>
                    <li><a href="#">Centrum kariérneho poradenstva</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
