@{meta('Home')}

<div class="carousel">
    <div class="invisible" data---="carousel2__null__count:1;margin:0;animate:0;">
        <figure>
            <!-- TODO: Update src to correct url/file -->
            <img
                    alt="Carousel image"
                    class="img-responsive center-block" loading="lazy"
                    src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"/>
        </figure>
    </div>
</div>

@{view('why-join')} @{view('about', model[0])} @{view('trailer', model[1])}
@{view('actualities', model[2])} @{view('partners')}