<div class="partners text-center">
    <div class="container reveal fade-bottom">
        <div class="row vcenter">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Lorem ipsum dolor sit amet</h3>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div
                    class="clearfix visible-xs-block visible-md-block visible-lg-block"
            ></div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-xs-block visible-sm-block"></div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div
                    class="clearfix visible-xs-block visible-md-block visible-lg-block"
            ></div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 padding">
                <!-- TODO: Update src to correct url/file -->
                <img
                        alt="Partner image"
                        class="img-responsive center-block"
                        loading="lazy"
                        src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                />
            </div>
        </div>
    </div>
</div>
