<div class="partners text-center">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled1.png"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled2.jpg"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled3.jpg"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled4.png"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div
      class="clearfix visible-xs-block visible-md-block visible-lg-block"
    ></div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled5.png"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled6.png"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block visible-sm-block"></div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled7.png"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled8.jpg"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div
      class="clearfix visible-xs-block visible-md-block visible-lg-block"
    ></div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled9.jpg"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled10.jpg"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled11.png"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 vcenter p-20">
      <!-- TODO: Update src to correct url/file -->
      <img
        src="https://im.ucm.sk/images/Institut_manazmentu/untitled12.png"
        class="img-responsive center-block"
        alt="Partner image"
      />
    </div>
  </div>
</div>
