<div class="trailer text-center">
  <div class="container">
    <div class="row vcenter">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 reveal fade-left">
        <div class="row vcenter">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
            <!-- TODO: Update src to correct url/file -->
            <img
              src="https://www.ucm.sk/get_image.php?img=gal-620b6750aa559d4a1b6a46e-img.png"
              class="img-responsive center-block"
              alt="Trailer image"
              loading="lazy"
            />
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
            <!-- TODO: Update src to correct url/file -->
            <img
              src="https://www.ucm.sk/get_image.php?img=gal-620b6755aa559d75195d6c3-img.jpg"
              class="img-responsive center-block"
              alt="Trailer image"
              loading="lazy"
            />
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
            <!-- TODO: Update src to correct url/file -->
            <img
              src="https://www.ucm.sk/get_image.php?img=gal-620b6759aa559d741328f51-img.jpg"
              class="img-responsive center-block"
              alt="Trailer image"
              loading="lazy"
            />
          </div>

          <!-- Add the extra clearfix for only the required viewport -->
          <div
            class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"
          ></div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
            <!-- TODO: Update src to correct url/file -->
            <img
              src="https://www.ucm.sk/get_image.php?img=gal-620b675faa559d77179fe16-img.jpg"
              class="img-responsive center-block"
              alt="Trailer image"
              loading="lazy"
            />
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
            <!-- TODO: Update src to correct url/file -->
            <img
              src="https://www.ucm.sk/get_image.php?img=gal-620b6765aa559d761a8cc6a-img.jpg"
              class="img-responsive center-block"
              alt="Trailer image"
              loading="lazy"
            />
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
            <!-- TODO: Update src to correct url/file -->
            <img
              src="https://www.ucm.sk/get_image.php?img=gal-620b6786aa559d711cd92cb-img.jpg"
              class="img-responsive center-block"
              alt="Trailer image"
              loading="lazy"
            />
          </div>

          <!-- Add the extra clearfix for only the required viewport -->
          <div
            class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"
          ></div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
            <!-- TODO: Update src to correct url/file -->
            <img
              src="https://www.ucm.sk/get_image.php?img=gal-620b8152aa559d701eda519-img.jpg"
              class="img-responsive center-block"
              alt="Trailer image"
              loading="lazy"
            />
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
            <!-- TODO: Update src to correct url/file -->
            <img
              src="https://www.ucm.sk/get_image.php?img=gal-620b8174aa559d7313b3a46-img.jpg"
              class="img-responsive center-block"
              alt="Trailer image"
              loading="lazy"
            />
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
            <!-- TODO: Update src to correct url/file -->
            <img
              src="https://www.ucm.sk/get_image.php?img=gal-620b8178aa559d721eb453f-img.jpg"
              class="img-responsive center-block"
              alt="Trailer image"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding reveal fade-right"
      >
        <div id="fb-root"></div>
        <!-- TODO: Update src to correct url/file -->
        <div
          class="fb-video"
          data-href="@{model[0]['url']}"
          data-width="500"
          data-allowfullscreen="true"
        ></div>
      </div>
    </div>
  </div>
</div>
