<div class="trailer text-center">
    <div class="container">
        <div class="row vcenter">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 reveal fade-left">
                <div class="row vcenter">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
                        <!-- TODO: Update src to correct url/file -->
                        <img
                                alt="Trailer image"
                                class="img-responsive center-block"
                                loading="lazy"
                                src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                        />
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
                        <!-- TODO: Update src to correct url/file -->
                        <img
                                alt="Trailer image"
                                class="img-responsive center-block"
                                loading="lazy"
                                src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                        />
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
                        <!-- TODO: Update src to correct url/file -->
                        <img
                                alt="Trailer image"
                                class="img-responsive center-block"
                                loading="lazy"
                                src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                        />
                    </div>

                    <!-- Add the extra clearfix for only the required viewport -->
                    <div
                            class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"
                    ></div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
                        <!-- TODO: Update src to correct url/file -->
                        <img
                                alt="Trailer image"
                                class="img-responsive center-block"
                                loading="lazy"
                                src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                        />
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
                        <!-- TODO: Update src to correct url/file -->
                        <img
                                alt="Trailer image"
                                class="img-responsive center-block"
                                loading="lazy"
                                src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                        />
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
                        <!-- TODO: Update src to correct url/file -->
                        <img
                                alt="Trailer image"
                                class="img-responsive center-block"
                                loading="lazy"
                                src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                        />
                    </div>

                    <!-- Add the extra clearfix for only the required viewport -->
                    <div
                            class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"
                    ></div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
                        <!-- TODO: Update src to correct url/file -->
                        <img
                                alt="Trailer image"
                                class="img-responsive center-block"
                                loading="lazy"
                                src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                        />
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
                        <!-- TODO: Update src to correct url/file -->
                        <img
                                alt="Trailer image"
                                class="img-responsive center-block"
                                loading="lazy"
                                src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                        />
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding">
                        <!-- TODO: Update src to correct url/file -->
                        <img
                                alt="Trailer image"
                                class="img-responsive center-block"
                                loading="lazy"
                                src="https://browsecat.net/sites/default/files/high-tech-earth-wallpapers-83026-1000107-6731403.png"
                        />
                    </div>
                </div>
            </div>

            <div
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding reveal fade-right"
            >
                <div id="fb-root"></div>
                <!-- TODO: Update src to correct url/file -->
                <div
                        class="fb-video"
                        data-allowfullscreen="true"
                        data-href="@{model[0]['url']}"
                        data-width="500"
                ></div>
            </div>
        </div>
    </div>
</div>
