.carousel {
}

.carousel img {
  width: 100%;
}

.about {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.about h2 {
  font-size: 1.42em;
}

.section2 {
  background-color: antiquewhite;
  padding: 10px;
}

.actualities {
  background-color: darkgrey;
  padding: 10px;
}

.actualities .bg-actualities {
  background-color: #f0f0f0;
  border-radius: 15px;
  height: 500px;
  margin: 10px;
  padding: 15px;
  position: relative;
}

.actualities .bg-actualities h3 {
  font-size: 1.28em;
}

.actualities .bg-actualities .read-more {
  bottom: 0;
  position: absolute;
}

.partners {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
}
